* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px red solid; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 80px;
  padding: 10px;
}

.footer {
  margin-top: auto;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 25px;
}

.gridComputer {
  border-style: solid;
  border-width: 0.7px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  margin-left: 50px;
}

.gridPlayer {
  border-style: solid;
  border-width: 0.7px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  margin-right: 50px;
}

.boxForStart{
  background: rgba(0, 0, 0, 0.8);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxForStartMini{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}

.title{
  font-size: 40px;
  margin: 25px 25px 15px;
}

.subTitle{
  font-size: 32px;
  margin: 10px;
}

.btnSwitch{
  font-size: 24px;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 12px;
  margin: 10px;
  cursor: pointer;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}

.main-box {
  /* border-style: solid; */
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 16px;
}

.text {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

.btn {
  font-size: 32px;
  padding: 10px;
  background: none;
  border-radius: 16px;
  border-style: solid;
  cursor: pointer;
  color: white;
  background-color: black;
}

.random{
  font-size: 24px;
  padding: 10px;
  background: none;
  border-radius: 16px;
  border-style: solid;
  cursor: pointer;
  color: white;
  background-color: black;
  margin-bottom: 15px;
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.AllGridPlayer,.AllGridPlayerComputer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yourName,.computerName{
  font-size: 32px;
  margin-bottom:15px;
}

.boardOfStart{
  border-style: solid;
  border-width: 0.7px;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  margin: 10px 0px 25px;
}

.boxStart{
  color: black;
}

.ships{
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(5,1fr); */
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 15px;
}

.ship{
  background-color: black;
  border-radius: 20px;
  cursor: grab;
}

.one{
  width:80px;
  height: 40px;
  grid-column: span 1;
}

.two{
  width:120px;
  height: 40px;
  grid-column: span 2;
}

.three{
  width:120px;
  height: 40px;
  grid-column: span 2;
}

.four{
  width:160px;
  height: 40px;
  grid-column: span 2;
}

.five{
  width:200px;
  height: 40px;
  grid-column: span 3;
}
.expanded {
  height: auto !important; /* Set to auto to match the width */
}

@media (max-width: 767px) {
  body{
    color: black;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 25px;
  }

  .header{
    font-size: 52px;
    padding: 15px;
  }

  .gridComputer{
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    margin: 0px 0px 0px;
  }

  .gridPlayer {
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    margin: 0px 0px 0px;
  }

  .AllGridPlayerComputer{
    margin-top: 25px;
  }

  .title{
    font-size: 24px;
  }
  .subTitle{
    font-size: 20px;
  }

  .boardOfStart{
    border-style: solid;
    border-width: 0.7px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    margin: 10px 0px 15px;
  }

  .ship{
    display: none;
  }
}
